<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="example1" value="./pathToExample1"/>
    <add key="example2" value="./pathToExample2"/>
  </appSettings>
</configuration>

<!--
Can pass path of the dBasefiles in <appSettings> see example below..
  <appSettings>
    <add key="PLOGINPATH" value="./dbaseFiles/PLOGIN.DBF"/>
    <add key="PRNSALES" value="./dbaseFiles/PRNSALES.DBF"/>
    ... add more keys here if necessary
  </appSettings>
-->