<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DBASEDIR" value="./dbaseFiles" />
    <add key="PLOGINPATH" value="./dbaseFiles/PLOGIN.DBF" />
    <add key="USER" value="./dbaseFiles/USER.DBF" />
    <add key="APIURL" value="http://localhost/api" />
    <add key="BRANCHID" value="FM" />
  </appSettings>
</configuration>

<!--
Can pass path of the dBasefiles in <appSettings> see example below..
  <appSettings>
    <add key="PLOGINPATH" value="./dbaseFiles/PLOGIN.DBF"/>
    <add key="PRNSALES" value="./dbaseFiles/PRNSALES.DBF"/>
    ... add more keys here if necessary
  </appSettings>
-->